@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: ppb;
    src: url('assets/font/ppneuemontreal-bold.otf') format('opentype');
}
@font-face {
    font-family: ppm;
    src: url('assets/font/ppneuemontreal-medium.otf') format('opentype');
}
@font-face {
    font-family: pps;
    src: url('assets/font/ppneuemontreal-thin.otf') format('opentype');
}
@font-face {
    font-family: ppbook;
    src: url('assets/font/ppneuemontreal-book.otf') format('opentype');
}